.block-container{
    padding-top:2rem;
}

.stButton>button{
    border-radius:8px;
    height:42px;
}

img{
    border-radius:8px;
}

div[data-testid="stVerticalBlock"]{
    gap:0.8rem;
}

div[data-testid="stFileUploader"]{
    border-radius:10px;
}

section[data-testid="stSidebar"]{
    border-right:1px solid #ddd;
}